
.ag-theme-alpine .ag-cell {
  font-size: 18x;
}
.ag-theme-alpine .ag-header-cell-label {
  font-size: 18px;
  font-weight: 600;
}
.ag-theme-alpine .ag-row {
  background: #f5f5f5;
}
.ag-theme-alpine .ag-row:nth-child(even) {
  background: #e8f0ff;
}
.ag-theme-alpine .ag-header {
  background: #111827;
  color: white;
}
.ag-theme-alpine .ag-row-selected {
  background: #ffe4ec !important;
}
h2{
  padding: 50px;
  text-align: center;
}
.btn{
  padding: 15px;
  background: #e8f0ff;
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #25b31b;
}