.header-row {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: var(--bg-main); 
  z-index: 1000;
  border-bottom: 1px solid rgb(36, 36, 55)
}

.title-box h2 {
  margin: 0;
  color: var(--text-main);
  font-size: 18px;
  letter-spacing: 1px;
}

.title-box span {
  color: var(--text-muted);
  font-size: 13px;
}

.search-box {
  padding: 8px 14px;
  width: 260px;
  margin-left: 550px;
  border-radius: 10px;
  border: 3px solid var(--input-border);
  background: var(--input-bg);
  color: var(--text-main);
  
}

.search-box::placeholder {
  color: var(--text-muted);
  border: 1px solid rgb(44, 44, 74);
  padding: 20px;
  
  
}

.content {
  padding-top: 60px;
}

.theme-wrapper {
  position: relative;
}

.theme-btn {
  background: var(--primary-color);
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.theme-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: var(--bg-header-end);
  padding: 8px;
  border-radius: 14px;
  display: flex;
  gap: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.theme-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
}

/* Theme dots */
.blue   { background: #2563eb; }
.green  { background: #22c55e; }
.pink   { background: #ec4899; }
.orange { background: #f97316; }
.yellow { background:#facc15; }
.red    { background:#ef4444; }
.black { background:#0c0c0c; border:2px solid #f2eeee; }

/* Responsive */
@media (max-width: 768px) {
  .header-row {
    left: 0;
    width: 100%;
    padding: 12px 16px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .search-box {
    width: 100%;
  }

  .title-box h2,
  .title-box span {
    margin-left: 60px;
  }
}
