.header-row {
    position:fixed;
    top: 0;
    left:270px;
    right:0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 20px;
    z-index: 1000;
    border-bottom: 1px solid #1b2432;

}

.title-box h2 {
    margin: 0;
    color: #ffffff;
    letter-spacing: 1px;
}

.title-box span {
    color: rgb(120, 117, 117);
    font-size: 13px;
}

.search-box {
    padding: 10px 14px;
    width: 260px;
    border-radius: 10px;
    border: 1px solid #383842;
    background: #1d2744;
    color: white;
    outline: none;
}

.search-box::placeholder {
    color: #6b7280;
}