*{ box-sizing:border-box; }

html,body{
  margin:0;
  background:#0f172a;
  height:100%;
  
  
}


/* LAYOUT */
.layout{
  display:flex;
  min-height:100vh;
  background: #0f1721;
  overflow-x: auto;
}

/* SIDEBAR */
.sidebar{
  position:fixed;
  top:0;
  left:0;
  width:240px;
  height:100vh;
  background: var(--bg-main);
  color: var(--text-main);
  padding:15px;
  color:#cbd5e1;
  display:flex;
  flex-direction:column;
  border-right:1px solid #1e293b;
  z-index:2000;
  transition:transform .3s ease;
}
.sidebar h2 {
  color: #f34009;
  font-size: 34px;
  font-style: italic;
}

.subtitle{
  font-size:12px;
  color:#94a3b8;
}

.menu{
  list-style:none;
  padding:0;
  margin-top:25px;
  /* flex:1; */
}

.menu a{
  display:block;
  padding:10px 12px;
  border-radius:8px;
  color:#cbd5e1;
  text-decoration:none;
}

.menu a:hover{
  background:#0b1329;
}

.menu a.active{
  background:#2563eb;
  color:#fff;
}

/* BOTTOM */
.bottom-box{
  border-top:1px solid #1e293b;
  padding-top:10px;
  font-size:13px;
  color:#94a3b8;
}

/* CONTENT */
.content{
  flex:1;
  width: auto;
  margin-left:240px;
   max-width: 100%;
  padding:18px;
  background:#020617;
  color:white;
  overflow-x:auto;
}

/* MENU BUTTON */
.menu-btn{
  display:none;
  position:fixed;
  top:12px;
  left:12px;
  z-index:3000;
  background:#020617;
  color:#fff;
  border:none;
  font-size:22px;
  padding:8px 12px;
  border-radius:6px;
}

/* MOBILE */
@media (max-width:768px){

  .menu-btn{
    display:block;
  }

  .sidebar{
    transform:translateX(-100%);
    width: 240px;
  }

  .sidebar.open{
    transform:translateX(0);
  }
 .content{
    margin-left:0;
    width:100%;
    padding-top:60px;
    overflow-x:auto;
  }
 
}

/* TABLET */
@media (min-width:769px) and (max-width:1024px){

  .sidebar{
    width:200px;
  }

  .content{
    margin-left:200px;
    overflow-x:auto;
  }
}
