*{ box-sizing:border-box; }
html,body{
  background:#182031;
}
.layout{
  display:flex;
  
  height:160vh;
  background:#0f172a;
}

/* LEFT SIDEBAR */
.sidebar{
  position: fixed;
  top:0;
  left:0;
  width:260px;
  height: 100vh;
  background:#020617;
  padding:15px;
  color:#cbd5e1;
  display:flex;
  flex-direction:column;
  border-right: 1px solid rgb(23, 23, 59);
  overflow-y: auto;
  z-index: 1000;
}

.logo{
  color:#e5e7eb;
  margin-bottom:4px;
}

.subtitle{
  font-size:12px;
  color:#94a3b8;
}

.menu{
  list-style:none;
  padding:0;
  margin-top:25px;
  height: 200vh;
  flex:1;
}

.menu li{
  margin:10px 0;
}

.menu a{
  display:block;
  padding:10px 12px;
  border-radius:8px;
  text-decoration:none;
  color:#cbd5e1;
}

.menu a:hover{
  background:#0b1329;
}

.menu a.active{
  background:#2563eb;
  color:white;
}

/* BOTTOM BOX */
.bottom-box{
  padding:12px;
  border-top:1px solid #1e293b;
  font-size:13px;
  color:#94a3b8;
}

/* RIGHT CONTENT */
.content{
  flex:1;
  margin-left: 240px;
  padding:18px;
  padding-top: 20px;
  background:#020617;
  color:white;
    max-width: calc(100% - 240px); /* sidebar नंतरचं width */
  overflow-x: hidden;
}



