/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
html, body{
  background: #030712;
  margin: 0;
  overflow-x: hidden;
}
.cdk-overlay-pane{
  z-index: 9999 !important;
}
.mat-mdc-select-panel {
  background: #0f172a !important;   /* डार्क पॅनेल */
  border: 1px solid #334155 !important;
}
.mat-mdc-select-panel {
  background: #ffffff !important;
  color: #000 !important;
}